* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

/* General Body Styling */
body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #252525;
    margin: 0;
    padding: 0;
}

/* Article Container */
main, article, section#projects {
    margin: 0 auto;
    padding: 20px 0;
    background: none;
    min-height: calc(100vh - 165px);
}

.main-inner {
    max-width: 1000px;
    margin: 0 auto;
}

.article-inner {
    max-width: 750px;
    margin: 0 auto;
}

/* Headings */
h1, h1.title, h1.title strong, h2, h3 {
    font-family: 'Georgia', serif;
    color: #252525;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

h1.title,
h1.title strong {
    color: #a41c40;
}

h1.title {
    font-weight: normal;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Paragraphs */
p {
    font-size: 1.125em;
    margin-bottom: 1.5em;
}

h1.title,
p.byline,
p.article-link {
    padding-bottom: 36px;
    margin-bottom: 36px;
    border-bottom: 1px solid #bdc3c7;
}

/* Links */
a {
    color: #a41c40;
    text-decoration: none;
}

a:hover {
    color: #CC2753;
}

/* Blockquotes */
blockquote {
    /* border: 1px solid #CC2753; */
    border-left: 30px solid #a41c40;
    padding: 2em;
    margin: 2em 0;
    font-style: italic;
    font-size: 1.5em;
    font-weight: 100;
    color: #555;
    background: #f3f3f3;
    border-radius: 4px;
}

/* Horizontal Rules */
hr {
    border: 0;
    height: 1px;
    background: #bdc3c7;
    margin: 2em 0;
}

/* Lists */
ul {
    list-style-type: disc;
    margin: 1.5em 0;
    padding-left: 1.5em;
}

li {
    margin-bottom: 0.5em;
    font-size: 1.125em;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1.5em 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .article-inner {
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.75em;
    }

    h3 {
        font-size: 1.5em;
    }

    p, li {
        font-size: 1em;
    }
}

/* General reset for the header */
#articles-header {
    background-color: #f9f9f9;
    padding: 10px 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e0e0e0;
}

#articles-footer {
    background-color: #f9f9f9;
    padding: 10px 20px;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #e0e0e0;
    margin-top: 30px;
}

p.notice {
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1.5px;
}

p.notice .heart {
    font-family: 'Georgia', serif;
    color: #a41c40;
    font-size: 1rem;
    padding: 0 2px;
}

.header-inner,
.footer-inner {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title h1 {
    font-size: 20px;
    font-weight: normal;
    color: #333;
    margin: 0;
    padding-top: 5px;
}

.header-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.header-links ul li {
    display: inline-block;
    margin: 0;
}

.header-links ul li a {
    text-decoration: none;
    color: #333;
    font-size: 25px;
    transition: color 0.3s ease;
    border-bottom: 0px;
}

.header-links ul li a:hover {
    color: #CC2753;
}

.header-links ul li a i {
    vertical-align: middle;
}

span.inline-divider {
    padding: 0 10px;
}

/* Table Styles */
table {
    width: 1000px;
    margin-top: 35px;
    border-spacing: 0;
}

table,
table td,
table th {
    border: none;
}

table td,
table th {
    text-align: left;
    padding: 15px 20px;
}

table td {
    border-bottom: 1px solid #252525;
}

/* Table Rows and Columns */
table tr.header {
    background: #252525;
    color: white;
}

table tr.project:hover {
    background: lightgrey;
}

table td.project-name {
    width: auto;
}

table td.project-demo {
    width: 200px;
}

table td.project-repo {
    width: 200px;
}

table td {
    color: #999999;
    font-style: italic;
}

/* Links inside Table */
table td a {
    text-decoration: none;
    font-style: normal;
    color: #000000;
}

i.fa {
    margin-top: 2px;
}
i.fa-github-alt {
    margin-top: -2px;
}