* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18px;
}

body {
    background: #333;
}

body#project_incometax {
    margin-top: 0;
}

#incomeTaxApplication {
    width: 1000px;
    margin: 0 auto;
    padding: 125px 100px 35px;
    background: #ddd;
    min-height: 100vh;
}

h1 {
    font-weight: 900;
    font-size: 36px;
}

h2 {
    color: inherit;
}

p {
    font-weight: 300;
}

p strong {
    font-weight: 600;
}

button {
    border: 0;
    background: #333;
    color: #eee;
    padding: 10px 15px;
    margin: 15px 0 15px;
    border-radius: 5px;
    font-size: 16px;
}
button:hover {
    border: 0;
    background: #666;
    color: #fff;
    cursor: pointer;
}

#termsTab h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 40px;
}

#termsTab p {
    margin: 20px 0;
    font-size: 18px;
}
#termsTab p:last-child {
    margin-bottom: 0;
}
#termsTab p strong {
    font-size: 18px;
}

#termsTab hr {
    margin: 40px 0;
}

#incomeTaxApplication p.note {
    font-size: 14px;
    color: #333;
    text-align: center;
    margin: 10px auto 30px;
    width: 600px;
}

#netdemo {
    display: none;
}

#netdemoinner {
    padding: 0 0 0 15px;
    margin: 30px 0 30px 10px;
    border-left: 3px solid #888;
    font-size: 14px;
    color: #888;
}

#netdemo p {
    margin: 10px 0;
}

#netdemo p#incomeProvided,
#netdemo p#incomeProvided strong,
#netdemo p#netIncome,
#netdemo p#netIncome strong {
    color: #000;
    font-size: 22px;
}

#netdemo p#incomeProvided {
    margin-bottom: 0;
}







.tabsSection {
    border: 2px solid #333;
    margin: 50px 0 25px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background: #333;
    color: #eee;
    margin: 0;
}

/* Style the buttons inside the tab */
.tab button {
    border: 0;
    background: #333;
    color: #eee;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 20px 30px;
    transition: 0.5s;
    font-size: 18px;
    border-radius: 0;
    margin: 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
    border: 0;
    background: #666;
    color: #fff;
    cursor: pointer;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #666;
    color: #fff;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 50px;
    border: 0;
    border-top: none;
    background: #eee;
}

.copyright {
    font-size: 16px;
    font-weight: 300;
    color: #222;
    text-align: center;
}

.copyright a {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    font-weight: 900;
}

header#global-header {
    margin-bottom: 0;
}