/* =============================================================================
    VARIABLES
============================================================================= */
/* =============================================================================
     GLOBAL STYLES
============================================================================= */
* {
  box-sizing: border-box;
  font-family: "Acumin Pro", sans-serif;
  margin: 0;
  padding: 0; }

a,
a.active,
a.focus,
a.hover,
a.visited {
  color: inherit !important;
  text-decoration: none !important; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

.flex {
  display: flex; }

.flex-row {
  flex-direction: row; }

.flex-col {
  flex-direction: column; }

.flex-center {
  justify-content: center; }

.flex-right {
  justify-content: flex-end; }

.btn-primary {
  background: #00BFC2;
  border: 1px solid #00a6a9;
  color: #FFFFFF !important; }
  .btn-primary:hover {
    background: #00a6a9;
    border: 1px solid #00a6a9; }

.btn-secondary {
  background: #f4f4f4;
  border: 1px solid #CDCCC9;
  color: #404040 !important; }
  .btn-secondary:hover {
    background: #CDCCC9;
    border: 1px solid #CDCCC9; }

/* =============================================================================
     PARTIALS
============================================================================= */
/* Project Navigation */
header#project-navigation {
  background: #f4f4f4;
  box-shadow: 0 1px 0 rgba(69, 69, 69, 0.1), 0 1px 3px rgba(69, 69, 69, 0.1), 0 4px 25px rgba(69, 69, 69, 0.035), 0 1px 1px rgba(69, 69, 69, 0.025);
  height: 50px;
  max-height: 50px;
  position: fixed;
  top: 0;
  width: 100%; }
  header#project-navigation .project-name h1 {
    font-size: 20px;
    font-weight: 900;
    padding: 14px 0 0;
    text-align: left; }
  header#project-navigation .project-links ul li {
    cursor: pointer;
    font-size: 25px;
    margin-left: 10px;
    padding: 7px 0 0; }
    header#project-navigation .project-links ul li i:hover,
    header#project-navigation .project-links ul li i.active {
      color: #00BFC2; }

/* Project Information */
section#information {
  background: #FFFFFF;
  display: block;
  height: 275px;
  transition: height 0.5s ease-in-out 0.1s;
  overflow: scroll; }
  section#information.hidden {
    height: 0px;
    padding: 0;
    overflow: hidden; }
  section#information .container {
    padding: 50px 0 40px; }
  section#information h1.project-title {
    font-size: 30px;
    font-weight: 700;
    margin: 0; }
  section#information span.date {
    font-size: 14px; }
  section#information hr.custom {
    border-top: 5px solid #00BFC2;
    margin: 20px 0;
    width: 25px; }
  section#information p.project-information {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5; }

/* =============================================================================
    PROJECTS
============================================================================= */
/* Projects Page */
#projects {
  padding-top: 55px;
  background: #f4f4f4; }
  #projects header#page-header {
    background: #404040;
    color: #FFFFFF;
    padding: 15px 0 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; }
    #projects header#page-header .title h1 {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 1px;
      margin: 0; }
      #projects header#page-header .title h1 strong {
        font-size: 20px;
        font-weight: 700; }
    #projects header#page-header .sorting {
      text-align: right; }
      #projects header#page-header .sorting i {
        cursor: pointer;
        font-size: 25px;
        margin-left: 10px; }
        #projects header#page-header .sorting i:hover, #projects header#page-header .sorting i.active {
          color: #00BFC2; }
  #projects section#projects-grid,
  #projects section#projects-list {
    display: none;
    padding: 100px 0 65px; }
    #projects section#projects-grid.active,
    #projects section#projects-list.active {
      display: block; }
  #projects section#projects-grid .card-wrapper {
    margin-bottom: 35px; }
  #projects section#projects-grid .card {
    height: 100%;
    position: relative;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 25px 0px #CDCCC9; }
    #projects section#projects-grid .card .card-img-top {
      border-radius: 15px 15px 0 0; }
    #projects section#projects-grid .card .card-body {
      padding: 40px; }
      #projects section#projects-grid .card .card-body .card-title,
      #projects section#projects-grid .card .card-body .last-updated,
      #projects section#projects-grid .card .card-body .card-text,
      #projects section#projects-grid .card .card-body .btns {
        text-align: center; }
      #projects section#projects-grid .card .card-body .card-title {
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 5px; }
      #projects section#projects-grid .card .card-body .last-updated {
        color: #CDCCC9;
        font-style: italic; }
      #projects section#projects-grid .card .card-body .card-text {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        margin: 20px 0 25px; }
      #projects section#projects-grid .card .card-body .btns {
        display: block; }
        #projects section#projects-grid .card .card-body .btns .btn-primary {
          margin-right: 5px; }
        #projects section#projects-grid .card .card-body .btns .btn-secondary {
          margin-left: 5px; }
  #projects section#projects-list table {
    box-shadow: 0 0 50px 0px #CDCCC9, 0 0 75px 0px #f4f4f4; }
    #projects section#projects-list table thead {
      background: #404040;
      color: #f2f2f2;
      letter-spacing: 1px; }
      #projects section#projects-list table thead .view-demo,
      #projects section#projects-list table thead .view-repository {
        text-align: center; }
      #projects section#projects-list table thead .project-name {
        padding-left: 20px;
        width: auto; }
      #projects section#projects-list table thead .view-demo {
        width: 82px; }
      #projects section#projects-list table thead .view-repository {
        width: 170px; }
    #projects section#projects-list table tbody tr .project-name {
      color: #404040;
      font-weight: 500;
      padding-left: 20px; }
      #projects section#projects-list table tbody tr .project-name .last-updated {
        color: #a8a6a1;
        font-style: italic;
        font-weight: 300; }
    #projects section#projects-list table tbody tr .project-demo,
    #projects section#projects-list table tbody tr .project-repository {
      color: #404040;
      text-align: center; }
    #projects section#projects-list table tbody tr .project-demo i {
      color: #00BFC2; }
    #projects section#projects-list table tbody tr .project-repository i {
      color: #171516; }

/* Social Media Widget */
body#project-social-media-widget {
  background-color: #222222;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px; }
  body#project-social-media-widget .widget-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 50px);
    min-height: 300px; }
    body#project-social-media-widget .widget-container .accordion {
      -webkit-box-shadow: 0px 0px 100px 5px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 100px 5px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 100px 5px rgba(0, 0, 0, 0.5);
      background-color: #333;
      width: 910px;
      min-width: 910px;
      display: block;
      list-style-type: none;
      overflow: hidden;
      height: 200px;
      margin: 0 auto; }
      body#project-social-media-widget .widget-container .accordion ul li.tab {
        display: inline-block;
        float: left;
        background-color: #444;
        border-right: 1px solid #333;
        width: 100px;
        height: 200px;
        position: relative;
        margin: 0;
        transition: all 0.5s ease-in-out 0.1s;
        overflow: hidden; }
        body#project-social-media-widget .widget-container .accordion ul li.tab:hover {
          width: 610px; }
          body#project-social-media-widget .widget-container .accordion ul li.tab:hover .social a {
            color: #ffffff; }
        body#project-social-media-widget .widget-container .accordion ul li.tab .social {
          float: left;
          height: 200px;
          line-height: 200px;
          text-align: center;
          vertical-align: middle;
          width: 100px;
          font-size: 40px;
          color: white; }
        body#project-social-media-widget .widget-container .accordion ul li.tab .content {
          background: #fff;
          width: 510px;
          height: 200px;
          margin-left: 100px;
          position: relative; }
          body#project-social-media-widget .widget-container .accordion ul li.tab .content .content-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 200px;
            padding: 0 35px 0 35px;
            width: 510px; }
            body#project-social-media-widget .widget-container .accordion ul li.tab .content .content-wrapper h2 {
              font-size: 25px;
              font-weight: 700;
              margin-bottom: 10px; }
            body#project-social-media-widget .widget-container .accordion ul li.tab .content .content-wrapper p {
              font-size: 16px;
              line-height: 1.4rem; }
      body#project-social-media-widget .widget-container .accordion ul li.facebook:hover .social {
        background: #3b5998; }
      body#project-social-media-widget .widget-container .accordion ul li.twitter:hover .social {
        background: #00aced; }
      body#project-social-media-widget .widget-container .accordion ul li.linkedin:hover .social {
        background: #007bb6; }
      body#project-social-media-widget .widget-container .accordion ul li.github:hover .social {
        background: #171516; }
